USE [master]
GO
/****** Nombre: Carmen Jissell Mariñez R.  Matricula: 11-SIIN-1-076 seccion: 0541 ******/

/****** Nombre: Ingrid Reyes               Matricula: 10-EIIN-1-029 seccion: 0541 ******/

/****** Nombre: Luiggie Valdez             Matricula: 15-SIIN-1-120 seccion: 0541 ******/

CREATE DATABASE [FarmaciaBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FarmaciaBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FarmaciaBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FarmaciaBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FarmaciaBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FarmaciaBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FarmaciaBD]
GO
USE [FarmaciaBD]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 5/12/2017 01:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[CodigoArticulo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Laboratorio] [int] NULL,
	[Precio] [int] NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[CodigoArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 5/12/2017 01:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CodigoCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[RNC] [int] NULL,
	[Seguro] [nvarchar](100) NULL,
	[Articulo] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laboratorio]    Script Date: 5/12/2017 01:15:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratorio](
	[CodigoLaboratorio] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
 CONSTRAINT [PK_Laboratorio] PRIMARY KEY CLUSTERED 
(
	[CodigoLaboratorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulo] ON 

INSERT [dbo].[Articulo] ([CodigoArticulo], [Nombre], [Laboratorio], [Precio]) VALUES (1, N'Anabolex', 1, 150)
INSERT [dbo].[Articulo] ([CodigoArticulo], [Nombre], [Laboratorio], [Precio]) VALUES (2, N'Prospan', 2, 200)
INSERT [dbo].[Articulo] ([CodigoArticulo], [Nombre], [Laboratorio], [Precio]) VALUES (3, N'Oculpres', 3, 100)
SET IDENTITY_INSERT [dbo].[Articulo] OFF
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([CodigoCliente], [Nombre], [RNC], [Seguro], [Articulo]) VALUES (1, N'Maria Alcantara', 789546231, N'Futuro', 1)
INSERT [dbo].[Cliente] ([CodigoCliente], [Nombre], [RNC], [Seguro], [Articulo]) VALUES (2, N'Luz Ramos', 987954652, N'Humano', 2)
INSERT [dbo].[Cliente] ([CodigoCliente], [Nombre], [RNC], [Seguro], [Articulo]) VALUES (3, N'Juaquin Ortiz', 898453215, N'Senasa', 3)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Laboratorio] ON 

INSERT [dbo].[Laboratorio] ([CodigoLaboratorio], [Nombre]) VALUES (1, N'Ethical')
INSERT [dbo].[Laboratorio] ([CodigoLaboratorio], [Nombre]) VALUES (2, N'Rower')
INSERT [dbo].[Laboratorio] ([CodigoLaboratorio], [Nombre]) VALUES (3, N'Acromax')
SET IDENTITY_INSERT [dbo].[Laboratorio] OFF
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Articulo_Laboratorio] FOREIGN KEY([Laboratorio])
REFERENCES [dbo].[Laboratorio] ([CodigoLaboratorio])
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK_Articulo_Laboratorio]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Articulo] FOREIGN KEY([Articulo])
REFERENCES [dbo].[Articulo] ([CodigoArticulo])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Articulo]
GO
USE [master]
GO
